<mat-toolbar color="primary" class="stickyheader">
  <button mat-icon-button (click)="home();">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-button [matMenuTriggerFor]="dashboardmenu" aria-label="MyFinance menu">
    <span>Dashboards</span>
  </button>
  <mat-menu #dashboardmenu="matMenu">
    <button mat-menu-item (click)="assetview();">
      <mat-icon>assets/images/logo.png</mat-icon>
      <span>Vermögen</span>
    </button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="accountingmenu" aria-label="MyFinance menu">
    <span>Kontoführung</span>
  </button>
  <mat-menu #accountingmenu="matMenu">
    <button mat-menu-item>
      <mat-icon>assets/images/logo.png</mat-icon>
      <span>Transaktionen</span>
    </button>
    <button mat-menu-item>
      <mat-icon>voicemail</mat-icon>
      <span>Ausgabenmassenupload</span>
    </button>
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Instrumente</span>
    </button>
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Dauertransaktionen</span>
    </button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="settingsmenu" aria-label="MyFinance menu">
    <span>Einstellungen</span>
  </button>
  <mat-menu #settingsmenu="matMenu">
    <button mat-menu-item>
      <button mat-menu-item [matMenuTriggerFor]="backendmenu">Backend</button>
    </button>
    <button mat-menu-item>
      <mat-icon>assets/images/logo.png</mat-icon>
      <button mat-menu-item [matMenuTriggerFor]="tenantsmenu">Aktiver Mandant</button>
    </button>
    <button mat-menu-item (click)="tenanteditor();">
      <mat-icon>settings</mat-icon>
      <span>Mandantenpflege</span>
    </button>
  </mat-menu>

  <mat-menu #tenantsmenu="matMenu">
    <button mat-menu-item>Mandant1</button>
    <button mat-menu-item>Mandant2</button>
  </mat-menu>

  <mat-menu #backendmenu="matMenu">

   <button mat-menu-item *ngFor="let zone of configService.config.zones" (click)="handleZoneSelect(zone.identifier);">
    {{ zone.name }}
    <mat-icon fontIcon="check_box" *ngIf="zone.identifier === configService.config.currentZone.identifier"/>
    <mat-icon fontIcon="check_box_outline_blank" *ngIf="zone.identifier !== configService.config.currentZone.identifier"/>
   </button>
  </mat-menu>
</mat-toolbar>

