
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr fr;
    height: 100vh;
  }  

.navbar {

    width: 100%;
}
.content {

    width: 100%; 

    overflow-y: auto; 

}

.footer {
    width: 100%; 
    border-width: 10px;
    border-color: aqua;
}

